{% block headline %}Password Reset{% endblock %}

{% block body %}
{% load humanize %}
{% load i18n %}

<br><br>
<br><br>
Hi {{ user.username }}, 
<br><br>
You're receiving this email because you requested a password reset for your Nexant Safety Dashboard user account.  If you do not wish to change your password, please disregard this email.  Otherwise, click the following link to set up your new password.
<br><br>
<a href="{{ protocol }}://{{ base_url }}{% url 'password_reset_confirm' uidb64=uid token=token %}">Reset Password</a>
<br><br>
Thanks.

{% endblock %}

